# Dependencies
node_modules/

# Environment
.env
.env.local

# Uploads (keep folder, ignore files)
src/uploads/**
!src/uploads/.gitkeep
!src/uploads/blogs/.gitkeep
!src/uploads/resumes/.gitkeep

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db
